.form-horizontal h1 {
    margin-left: -10px;
    margin-bottom: 32px;
}

.top-menu li a {
    font-size: 18px;
}

.create-buttons {
    padding-top: 6px;
    padding-bottom: 20px;
    text-align: center;
}

.create-buttons-heading {
    margin: 0px;
    padding: 0px;
    margin-bottom: 30px;
}

.page-actions > .btn {
    margin-right: 12px;
}

.about {
    margin: 0 auto;
    margin-bottom: 200px;
    max-width: 900px;
    overflow: hidden;
    padding: 10px;
    font-size: 14px;
    font-family: sans-serif;
    h1 {
        color: #1c3b56;
        font-size: 30px;
        font-weight: normal;
        margin-top: 20px;
    }
}

.navbar-brand {
    padding-top: 1px;
}

.border-1px {
    border: 1px solid black;
}

.event-time {
    padding-left: 16px;
}

.vote-points-input {
    width: 38px;
    text-align: right;
    font-weight: bold;
}

.vote-points-form {
    padding-top: 10px;
    padding-left: 30px;
    padding-bottom: 30px;
}

.vote-button {
    margin-top: 15px;
}

#total-points {
   display: none;
}

.navbar-nav > li > a.navbar-profile-a {
    padding-top: 15px;
    padding-bottom: 10px;
}

img.navbar-avatar-img {
    vertical-align: middle;
    margin-top: -2px;
    padding-right: 2px;
}

// project-deails
textarea#id_comment {
    width: 540px;
    height: 100px;
    margin-left: 3px;
}

div.panel-heading {
    padding: 8px 15px;
}

.comment-avatar {
    padding-right: 12px;
}

form.comment-form {
    display: none;
}

.comment-btn {
    margin: 5px;
}

.h1-label {
    font-size: 12px;
    vertical-align: middle;
}

.container {
    content: " ";
    display: table;
}

.indent-comment {
    padding-left: 15px;
    padding-right: 15px;
    position: relative;
}
