.form-horizontal h1 {
    margin-left: -10px;
    margin-bottom: 32px;
}

.top-menu li a {
    font-size: 18px;
}

.create-buttons {
    padding-top: 6px;
    padding-bottom: 20px;
    text-align: center;
}

.create-buttons-heading {
    margin: 0px;
    padding: 0px;
    margin-bottom: 30px;
}

.page-actions > .btn {
    margin-right: 12px;
}

.about {
    margin: 0 auto;
    margin-bottom: 200px;
    max-width: 900px;
    overflow: hidden;
    padding: 10px;
    font-size: 14px;
    font-family: sans-serif;
    h1 {
        color: #1c3b56;
        font-size: 30px;
        font-weight: normal;
        margin-top: 20px;
    }
}

.navbar-brand {
    padding-top: 1px;
}

.border-1px {
    border: 1px solid black;
}

.event-time {
    padding-left: 16px;
}
