{% extends "base.html" %}
{% load trans from i18n %}
{% load markdown from websitetags %}
{% load username from accountstags %}


{% block content %}

<h1>{{ event.title }}</h1>

{% if event.address or event.osm_map_link %}
<div class="pull-right">
  {% if event.address %}
  <h3>{{ event.address }}</h3>
  {% endif %}
  {% if event.osm_map_link %}
  <iframe width="425" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"
          src="{{ event.osm_map_link }}" class="border-1px"></iframe>
  {% endif %}
</div>
{% endif %}

<h3>{{ event.starts|date:'Y-m-d' }}
{% if event.starts.date == event.ends.date %}
  {% if not event.hide_time %}
  <span class="event-time">{{ event.starts|date:'H:i' }} – {{ event.ends|date:'H:i' }}</span>
  {% endif %}
{% else %}
  {% if not event.hide_time %}
    {{ event.starts|date:'H:i' }}
  {% endif %}
  – {{ event.ends|date:'Y-m-d' }}
  {% if not event.hide_time %}
    {{ event.ends|date:'H:i' }}
  {% endif %}
{% endif %}
</h3>

{% if request.user.is_superuser and not event.parent_event %}
<a href="{% url "create-weekly-event" event.starts.year event.starts.month event.starts.day event.slug %}" class="btn btn-default">
  {% trans "Create weekly event" %}
</a>
{% endif %}

{{ event.description|markdown }}

{% if event.event_set.exists %}
  <h3>Subevents</h3>
  <ul>
  {% for subevent in event.event_set.all %}
    <li><a href="{{ subevent.get_absolute_url }}">{{ subevent }}</a></li>
  {% endfor %}
  </ul>
{% endif %}


{% if request.user.is_authenticated %}
<a id="response"></a>
{{ form|safe }}

  <h3>Participants:</h3>
  <div class="attendance">
    <ul>
  {% for attendance in attendances %}
    <li>{% username attendance.attendee %} <span>{{ attendance.get_response_display }}</span></li>
  {% endfor %}
    </ul>
  </div>
{% endif %}


{% endblock %}
