{% extends "base.html" %}

{% load trans blocktrans from i18n %}
{% load markdown from websitetags %}
{% load comments %}

{% block content %}

<div class="pull-right form-inline page-actions">
  {% if can_update %}
  <a href="{% url 'project-update' project.slug %}" class="btn btn-default">
    <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
    {% trans "Change" %}
  </a>
  {% endif %}
</div>

<h1>{{ project.title }}
  <small><span class="label label-default">{{ project.get_status_display }}</span></small>
</h1>

<p><strong>{% trans "Project description" %}</strong>{{ project.description|markdown }}</p>

{% if project.url %}
  <p><strong>{% trans "Implementation URL" %}</strong>{{ project.url }}</p>
{% endif %}

{% if project.status_description %}
  <p><strong>{% trans "Project status description" %}</strong>
  {{ project.status_description|capfirst }}</p>
{% endif %}

{% if user.is_authenticated %}
  {% get_comment_form for project as form %}
  <form action="{% comment_form_target %}" method="post">
  {% csrf_token %}
  {{ form.comment }}
  {{ form.content_type }}
  {{ form.object_pk }}
  {{ form.timestamp }}
  {{ form.security_hash }}
  <input type="hidden" name="next" value="{% url 'project-details' project.slug %}">
  <p><input type="submit" name="submit" value="Add comment"></p>
  </form>
{% else %}
  <p>Please <a href="{% url 'accounts_login' %}">log in</a> to leave a comment.</p>
{% endif %}

{% get_comment_list for project as comment_list %}
{% for comment in comment_list %}
  <div class="container">
    <div class="row">
      <div class="col-sm-5">
        <div class="panel panel-default">
          <div class="panel-heading">
            <strong>{{ comment.user_name }}</strong>
            <span class="text-muted">{{ comment.submit_date }} </span>
          </div>
          <div class="panel-body">{{ comment.comment }}  </div>
        </div>
      </div>
    </div>
  </div>
{%endfor %}

{% endblock %}
