{% extends "base.html" %}
{% load trans from i18n %}
{% load markdown from websitetags %}


{% block content %}

<div class="pull-right form-inline page-actions">
  {% if can_update %}
  <a href="{% url 'project-update' project.slug %}" class="btn btn-default">
    <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
    {% trans "Change" %}
  </a>
  {% endif %}
</div>

<h1>{{ project.title }}
  <small><span class="label label-default">{{ project.get_status_display }}</span></small>
</h1>

<p><strong>Project description </strong>{{ project.description|markdown }}</p>

{% if project.url %}
  <p><strong>Implementation URL </strong>{{ project.url }}</p>
{% endif %}

{% if project.status_description %}
  <p><strong>Project status description </strong>
  {{ project.status_description|capfirst }}</p>
{% endif %}

{% endblock %}

