{% extends "base.html" %}
{% load trans blocktrans from i18n %}
{% load static from staticfiles %}
{% load comments %}
{% load markdown from websitetags %}

{% block content %}

<div class="pull-right form-inline page-actions">
  {% if can_update %}
  <a href="{% url "project-update" project.slug %}" class="btn btn-default">
    <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
    {% trans "Change" %}
  </a>
  {% endif %}
</div>

<h1>{{ project.title }}
  <span class="label label-default h1-label">{{ project.get_status_display }}</span>
</h1>

<p></strong>{{ project.description|markdown }}</p>

{% if project.url %}
  <p><strong>{% trans "Implementation URL " %}</strong>{{ project.url }}</p>
{% endif %}

{% if project.status_description %}
  <p><strong>{% trans "Project status description " %}</strong>
  {{ project.status_description|capfirst }}</p>
{% endif %}


{% if user.is_authenticated %}
  {% get_comment_form for project as form %}
  <p>
    <form action="{% comment_form_target %}" method="post">{% csrf_token %}
      {{ form.comment }}
      {{ form.content_type }}
      {{ form.object_pk }}
      {{ form.timestamp }}
      {{ form.security_hash }}
      <input type="hidden" name="next" value="{% url "project-details" project.slug %}"><br>
      <button class="btn btn-default btn-sm comment-btn" type="submit" name="submit">{% trans "Add comment" %}</button>
    </form>
  </p>
{% else %}
  <p>{% trans "Please" %}<a href="{% url "accounts_login" %}">{% trans "log in</a> to leave a comment." %}</p>
{% endif %}

{% include "website/comments.html" with object=project %}

{% endblock %}


{% block scripts %}
  <script src="{% static "js/comment_reply.js" %}"></script>
{% endblock %}
